<ion-app>
  <ion-menu contentId="main-content">
    <div class="center-logo">
      <div>
        <ion-header class="">
          <ion-toolbar>
            <ion-thumbnail>
              <img src="./assets/images/sk.jpeg" />
            </ion-thumbnail>
          </ion-toolbar>
        </ion-header>
      </div>
    </div>
    <ion-content class="ion-padding">
      <ion-list class="center-menu-list">
        <ion-menu-toggle>
          <ion-item [routerLink]="['/home/tabs/homeclient']" lines="none">
            <ion-icon color="primary" name="home" slot="start"></ion-icon>
            <ion-label>Accueil</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/home/tabs/changepw']" lines="none">
            <ion-icon
              color="primary"
              name="settings-outline"
              slot="start"
            ></ion-icon>
            <ion-label>Changer mon mot de passe</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/', '', '']" lines="none">
            <ion-icon
              color="primary"
              name="person-outline"
              slot="start"
            ></ion-icon>
            <ion-label>confidentialiter</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="onLogOut()">
            <ion-icon
              color="primary"
              name="log-out-outline"
              slot="start"
            ></ion-icon>
            <ion-label>Se Déconnecter</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none">
            <ion-label color="primary">Version 1.0</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-content class="ion-padding">
      Tap the button in the toolbar to open the menu.
    </ion-content>
  </div>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
