<ion-header>
  <ion-toolbar color="tertiary">
    <div class="center-header">
      <div class="">
        <ion-buttons slot="start">
          <ion-icon
            class="ion-padding"
            size="large"
            (click)="openMenu()"
            name="settings-outline"
            slot="icon-only"
          ></ion-icon>
        </ion-buttons>
      </div>

      <div class="center-profile">
        <div class="ion-text-center">
          <ion-avatar>
            <img alt="user img" src="/assets/images/user-2.jpg" />
            <ion-button class="btn-size" (click)="getPhoto()">
              <ion-icon name="add-sharp"></ion-icon>
            </ion-button>
          </ion-avatar>
        </div>
        <div class="">
          <p>
            <span id="phone">Bienvenu</span><br />
            <span id="name">Mouhamed SEYE</span>
          </p>
        </div>
      </div>
    </div>
    <ion-card class="ion-text-center">
      <ion-card-header>
        <ion-card-title>Solde Actuel</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h1 class="ion-text-center" [ngClass]="{'positive-balance': 0}">
          {{ totalSoldClient() | currency:'CFA':'symbol':'1.0-0' }}
        </h1>
      </ion-card-content>
    </ion-card>
    <!-- <ion-card color="primary ion-text-center">
      <ion-card-header>
        <ion-card-title name="solde">0 FCFA</ion-card-title>
      </ion-card-header>
    </ion-card> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <div class="ion-padding ion-text-center">
          <ion-fab slot="" vertical="" horizontal="" class="center-icons">
            <div class="">
              <ion-fab-button
                [routerLink]="['/','home','tabs','sendusermoney']"
              >
                <ion-icon name="send-outline"></ion-icon>
              </ion-fab-button>
              <div class="titre-icon">Transfert</div>
            </div>

            <div class="">
              <ion-fab-button [routerLink]="['/','home','tabs','payfacture']">
                <ion-icon name="pricetags-outline"></ion-icon>
              </ion-fab-button>
              <div class="titre-icon">Paiement</div>
            </div>
            <div class="">
              <ion-fab-button [routerLink]="['/','home','tabs','payment-card']">
                <ion-icon name="card-outline"></ion-icon>
              </ion-fab-button>
              <div class="titre-icon">carte</div>
            </div>
            <div class="">
              <ion-fab-button [routerLink]="['/','home','tabs','depot']">
                <ion-icon name="wallet-outline"></ion-icon>
              </ion-fab-button>
              <div class="titre-icon">Dépot</div>
            </div>
            <div class="">
              <ion-fab-button [routerLink]="['/','home','tabs','retrait']">
                <ion-icon name="cash-outline"></ion-icon>
              </ion-fab-button>
              <div class="titre-icon">Retrait</div>
            </div>
          </ion-fab>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        size="12"
        size-sm="8"
        offset-sm="2"
        class="ion-padding ion-margin-top"
      >
        <ion-list>
          <!-- <ion-list-header color="primary" class="transactions ion-margin-top">
            <ion-label>Transactions</ion-label>
          </ion-list-header> -->
          <ion-item-group class="transactions ion-margin-top">
            <ion-item-sliding
              *ngFor="let payuser of loadHomePayments"
              [routerLink]="['/', 'home', 'tabs','homeclient',payuser.id]"
              #slidingPay
            >
              <ion-item lines="full" detail>
                <ion-thumbnail slot="start" class="ion-text-center">
                  <img [src]="payuser?.imgurl" />
                </ion-thumbnail>
                <ion-label>
                  <ion-text> {{payuser?.fullName}} </ion-text>
                  <p>
                    <ion-text
                      >{{payuser?.newDate | date: "MMM d, y"}}
                    </ion-text>
                  </p>
                </ion-label>
                <ion-text>
                  {{payuser?.price >= 0 ? 'FCFA ' + payuser?.price: '-FCFA ' + (
                  payuser?.price * (-1))}}
                </ion-text>
              </ion-item>

              <ion-item-options slot="end">
                <ion-item-option
                  color="danger"
                  (click)="onDeletePay(payuser.id, slidingPay)"
                >
                  <ion-icon name="trash" slot="icon-only"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-item-group>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
